@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000bf;
  width: -100%;
  height: 60px;
  margin-left: -36%;
}

.logo {
  margin-left: 20%;
  font-size: 18px;
  color: #ffffff;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.logo span {
  color: #ffa800;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-family: "Poppins", serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ffa800;
}

.connect-wallet {
  background-color: #ffa800;
  border: none;
  padding-top: 7px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 7px;
  border-radius: 23px;
  font-family: "poppins";
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.connect-wallet:hover {
  background-color: darkorange;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.hero-section {
  margin-top: 20%;
  margin-left: -100px;
}

.hero-section .content h1 {
  margin-bottom: 30px;
  width: 660px;
  font-family: "Poppins";
  font-size: 96px;
  line-height: 99.5%;
  color: #ffffff;
}

.hero-section .content p {
  margin-bottom: 50px;
  width: 660px;
  font-family: "Poppins";
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.connect-button {
  background-color: #ffa800;
  border: none;
  padding-top: 7px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 7px;
  border-radius: 33px;
  font-family: "poppins";
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.connect-button:hover {
  background-color: #e57000;
}

.hero-section .character {
  position: absolute;
  right: 15%;
  bottom: 0;
  top: 70px;
}

.info-section {
  padding: 24px;
  margin-top: 10px;
  margin-left: -100px;
  border: 1px solid #ffffff;
  gap: 10px;
  position: absolute;
  top: 886px;
  backdrop-filter: blur(16px);
  border-radius: 10px;
}

.info-section h2 {
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 128%;
  color: #ffffff;
}

.info-section p {
  width: 1272px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.7;
}
.frame {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}
.text-content {
  max-width: 50%;
  margin-left: 15%;
  margin-top: 20%;
  justify-content: center;
  align-items: center;
}

.text-content h1 {
  margin-top: 0;
  margin-bottom: 10px;
  width: 660px;
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 128%;
  color: #ffffff;
}

.text-content p {
  margin-top: 0;
  margin-bottom: 30px;
  width: 660px;
  height: 128px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.7;
}

.learn-more {
  background-color: #ffa800;
  border: none;
  padding-top: 7px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 7px;
  border-radius: 23px;
  font-family: "poppins";
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.learn-more:hover {
  background-color: #e56e00;
}

.image-content {
  position: relative;
  right: 15%;
  bottom: 0;
  left: 100px;
  top: 90px;
}
.number {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1a1a;
}

.heading-content {
  margin-left: 10%;
  margin-top: -0%;
  justify-content: space-between;
  align-items: center;
}

.heading-content h1 {
  margin-bottom: 20px;
  margin-left: 15%;
  width: 660px;
  height: 61px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 128%;
  color: #ffffff;
}

.heading-content p {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 15%;
  width: 660px;
  height: 128px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.7;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.step {
  display: flex;
  margin-left: 100px;
  align-items: center;
  gap: 20px;
  background-color: #0c0b0b;
  border-radius: 46px;
  width: 660px;
  height: 92px;
  padding: 10px;
}

.step-number {
  background-color: #f39c12;
  width: 71px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.step-content {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  cursor: pointer;
}

.step-content h2 {
  margin-top: 25%;
  margin-bottom: 0%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.step-content p {
  margin-left: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.7;
}

.table-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-left: 0;
  background-image: url(/assets/images/swap\ 2.png);
}

.timeline-1 {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1a1a;
}

/* .map{
/* position: absolute; */
/* left: 839px;
top: 430%;
font-family: 'Poppins';
font-weight: 600;
font-size: 48px;
line-height: 128%;
color: #FFFFFF;}  */

.timeline {
  position: relative;
  width: 60%;
  margin-left: 30%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 79%;
  background-color: white;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  color: white;
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-content {
  width: 40%;
  padding: 10px;
  text-align: left;
  font-family: "poppins";
  font-size: 22px;
  font-weight: 400;
}

.timeline-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 22px;
}

.yellow-circle {
  width: 36px;
  height: 36px;
  background: #e56e00;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.last {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1a1a;
}

.faq-container {
  width: 70%;
  margin-left: 100px;
}

.faq-title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  font-family: "poppins";
  margin-bottom: 20px;
}

.faq-item {
  background: #222;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.05) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );
}

/* .faq-question:hover {
  background: #333;
} */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  color: #ffffff;
  padding: 0 15px;
  transition: max-height 0.3s ease-out;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.7;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 20px;
}

.faq-item .arrow {
  transition: transform 0.3s ease;
}

.faq-item.active .arrow {
  transform: rotate(90deg);
}
.fees-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1a1a;
  gap: 30px;
}

.fee-box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 424px;
  margin-top: -40%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.fee-box h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  font-family: "poppins";
  font-weight: 400;
  font-size: 22px;
}

.label {
  color: #ffffff;
  margin: 5px 0;
  text-align: left;
  font-family: "poppins";
  font-weight: 400;
  font-size: 14px;
  opacity: 70%;
}

.sell {
  color: #ffffff;
  margin: 5px 0;
  text-align: right;
  font-family: "poppins";
  font-weight: 400;
  font-size: 14px;
  opacity: 70%;
}

.highlight {
  color: #f39c12;
  font-size: 18px;
  font-weight: 600;
  margin-left: -300px;
}
.percentage {
  color: #ffffff;
}
.tables{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #1d1a1a;
  gap: 20px;
}
.box {
  box-sizing: border-box;
  position: absolute;
  width: 1318px;
  height: 1023px;
  left:10%;
  top: 330%;
  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.05) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );
  border-radius: 10px;
}
.circle {
  position: absolute;
  width: 361px;
  height: 361px;
  left:10%;
  top:100px;
}

.group{
position: absolute;
left:50%;
margin-top: 100px;
}

.nomics{
position: absolute;
left: 75%;
margin-top: 70px;
}

table {
  margin-top:50%;
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
}
th, td {
  padding: 12px;
  text-align: left;
  color: #ffffff;
  font-family: "poppins";
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}
th {
  background-color: #000;
}
tr:nth-child(even) {
  background-color: #1a1a1a;
}
tr:hover {
  background-color: #333;
}
